:root{
    --primary-color:#8B4513;
    --secondary-color:#f8f9fa;
    --dark-color:#2d2d2d;
}


body{
    font-family: 'Poppins', sans-serif;
}

.nav-link{
    transition:.3s;
}

.nav-link{
    color:#333;
    font-weight:500;
    margin-left:15px;
}s

.nav-link{
    color:#333;
    font-weight:500;
    margin-left:15px;
}

.nav-link:hover{
    color:var(--primary-color);
}

/* Hero Section */

.hero{
    height:100vh;
    background:
    linear-gradient(rgba(0,0,0,.55),rgba(0,0,0,.55)),
    url("images/hero.jpg");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.hero h1{
    font-size:4rem;
}

.hero p{
    max-width:650px;
    margin:auto;
    margin-bottom:30px;
}

#about{
    background-color:#f8f9fa;
}

#about h2{
    color:var(--primary-color);
}


#why-us h2{
    color:var(--primary-color);
}

#why-us .shadow-sm{
    transition:0.3s;
}

#why-us .shadow-sm:hover{
    transform:translateY(-8px);
}

#gallery h2{
    color:var(--primary-color);
}

.gallery-img{
    height:250px;
    width:100%;
    object-fit:cover;
    transition:0.3s;
}

.gallery-img:hover{
    transform:scale(1.05);
}

#contact h2{
    color:var(--primary-color);
}

.form-control{
    border-radius:10px;
}

.form-control:focus{
    border-color:#8B4513;
    box-shadow:none;
}

.footer{
    background:#2d2d2d;
    color:white;
}

.footer h4{
    color:#c58b4a;
    margin-bottom:20px;
}

.footer a{
    color:white;
    text-decoration:none;
}

.footer a:hover{
    color:#c58b4a;
}

.social-icon{
    font-size:1.5rem;
    margin-right:15px;
}

html{
    scroll-behavior:smooth;
}

.cafe-icon{
    color:var(--primary-color);
}

#menu h2{
    color:var(--primary-color);
}

.btn-dark{
    background-color:var(--primary-color);
    border:none;
}

.btn-dark:hover{
    background-color:#6d3410;
}

.btn-outline-dark{
    border:2px solid var(--primary-color);
    color:var(--primary-color);
}

.btn-outline-dark:hover{
    background-color:var(--primary-color);
    color:white;
}

.navbar .nav-link{
    color:#333;
    font-weight:500;
    margin-left:15px;
    transition: color 0.3s ease;
}

.navbar .nav-link:hover,
.navbar .nav-link.active{
    color:var(--primary-color);
}

.navbar .nav-link:hover,
.navbar .nav-link.active{
    color: var(--primary-color);
}
